.sd-main {
  width: 100%;
  background-color: var(--music-color-default);
  padding: var(--music-space-32);

  .sd-main-container{
    border-radius: 16rpx;
    background-color: var(--music-fill-color);
  }
}