
.search-suggest {
  display: flex;
  flex-direction: column;
  gap: 24rpx;

  .ss-item {
    display: flex;
    align-items: center;
    gap: 32rpx;
    padding-bottom: 16rpx;
    border-bottom: 1rpx solid var(--music-color-font-border);
    color: var(--music-color-font-primary);

    .iconfont{
      font-size: 32rpx;
    }

    .ss-item-content {
      font-size: 28rpx;
    }
  }
}