.common-music-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16rpx;
  padding: 24rpx 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1rpx solid var(--music-color-font-border);

  .cmi-detail {
    flex: auto;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 12rpx;

    .cmi-detail-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 32rpx;
    }

    .cmi-detail-artist{
      font-size: 24rpx;
    }
  }

  .cmi-btn{
    display: flex;
    gap: 24rpx;

    .iconfont{
      font-size: 36rpx;
    }
  }
}